.full-person-profile
  .header-section
    align-items center
    display flex
    margin-bottom 40px

    .image
      max-height 100px
      margin-right 24px

    .section
      margin 0

      .name
        font-size 20px
        font-weight 600
        margin 16px 0

  .section
    margin 40px 0

    .section-header
      font-size 18px
      font-weight 600
      margin 20px 0

    .info
      display grid
      grid-template-columns 100px auto
      margin 16px 0

      .info-header
        font-weight 500

      .info-value
        display flex

    .view-in-tree
      cursor pointer
