.list-view-person
  align-items center
  background-color white
  border-radius 3px
  cursor pointer
  display grid
  grid-gap 12px
  grid-template-columns 80px 200px 250px
  margin-bottom 16px
  max-width 720px
  padding 16px 24px

  @media(max-width: 700px)
    display flex
    flex-direction column
    text-align center

  &:hover
    box-shadow 0 12px 24px rgba(50,50,93,.05)

  .image
    justify-self center
    margin-right 16px
    max-height 60px

    @media(max-width: 700px)
      margin-right 0

  .info-section
    display flex
    flex-direction column
    margin-right 32px

    @media(max-width: 700px)
      margin-right 0

    .info, a.info
      margin 8px 0

    .name
      font-weight 500
