.tree-view-couple
  .couple
    display flex
    align-items center

    .couple-connector
      border-bottom 4px solid green
      height 1px
      width 150px

      &.divorced
        border-bottom 4px dashed green
