@import '../styles/variables.styl'

.tree-view
  width 100%

  .actions
    align-items center
    display flex
    justify-content center
    margin-bottom 20px

    a
      cursor pointer

  #graph
    font 10px sans-serif
    border 1px solid light-text-gray
    padding 12px
    height 600px

    .node
      cursor pointer

    .link, .special-link
      fill none
      stroke black

    .spouse
      fill none
      stroke green
      stroke-width 3
