@import '../styles/variables.styl'

.tree-view
  width 100%

  .actions
    align-items center
    display flex
    justify-content center
    margin-bottom 20px

    a
      cursor pointer

  .go-js-container
    height 600px
    position relative
    width 100%

    #go-js-cover
      background-color background-gray
      height 72px
      width 184px
      z-index 3
      position absolute
